<link rel="stylesheet" href="~/css/dailyslots.css" />

<div class="content">
    <div id="symbolDisplay"></div>
    <input type="hidden" value="@Url.Action("GenerateSlotSymbols")" id="UrlGenerateSlotSymbols" />
    <button id="generateBtn"></button>
    <div id="spinStatus"></div>
    <div id="resultDisplay"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" defer>
    const machineId = 2;
    const name = "DailySpin"
    const cost = 0;
    const width = 7;
    const height = 5;
</script>
<script src="~/js/slothelper.js" defer></script>