<link rel="stylesheet" href="~/css/slots.css" />

<input type="hidden" value="@Url.Action("GenerateSlotSymbols")" id="UrlGenerateSlotSymbols" />
<button id="generateBtn">Generate Symbols</button>
<div id="symbolDisplay"></div>
<div id="resultDisplay"></div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" defer>
    const machineId = 2;
    const name = "DailySpin"
    const cost = 0;
    const width = 7;
    const height = 5;
</script>
<script src="~/js/slothelper.js" defer></script>