@{
    ViewData["Title"] = "Slots";
}

<div class="text-center">
    <h1 class="display-4">Slots</h1>
    <p><a asp-controller="Slots" asp-action="LuckySlots">LuckySlots</a>.</p>
    <p><a asp-controller="Slots" asp-action="DailySpin">DailySpin</a>.</p>
</div>