<h1>Admin Controls</h1>

<a asp-area="" asp-controller="Admin" asp-action="Users">Users</a>
<a asp-area="" asp-controller="Admin" asp-action="SlotMachines">Slot Machines</a>
<a asp-area="" asp-controller="Admin" asp-action="SlotSymbols">Slot Symbols</a>
<a asp-area="" asp-controller="Admin" asp-action="SlotGameLogs">Slot Game Logs</a>