@using Microsoft.AspNetCore.Identity;
@*<a class="nav-link text-dark" asp-area="" asp-controller="Slots" asp-action="Index">Slots</a>*@
@*<partial name="_LoginPartial" />*@

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlayRiggedGames</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlayRiggedGames.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="vertical-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="button-container">
                <a class="login-container" asp-area="Identity" asp-page="/Account/Manage/Index">
                    Account Detail
                </a>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <a id="logout" type="submit" class="register-container">Logout</a>
                    </form>
            </div>
        }
        else
        {
            <div class="button-container">
                <a class="login-container" asp-area="Identity" asp-page="/Account/Login">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Login
                </a>
                <a class="register-container" asp-area="Identity" asp-page="/Account/Register">
                    <i class="fa-solid fa-id-card"></i>
                    Register
                </a>
            </div>
        }
        <div class="links-container">
            <h3>Main</h3>
            <div>
                <i class="fa-solid fa-house"></i>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </div>

            <h3>Games</h3>
            <div>
                <i class="fa-solid fa-7"></i>
                <a asp-area="" asp-controller="Slots" asp-action="Index">Slots</a>
            </div>
            <div>
                <i class="fa-solid fa-heart"></i>
                <a href="#">Blackjack (Coming Soon)</a>
            </div>

            <h3>Admin</h3>
            <div>
                <i class="fa-solid fa-users"></i>
                <a asp-area="" asp-controller="Admin" asp-action="ApplicationUsers">Users</a>
            </div>
            <div>
                <i class="fa-solid fa-clipboard"></i>
                <a asp-area="" asp-controller="Admin" asp-action="SlotGameLogs">Slot Game Logs</a>
            </div>
            <div>
                <i class="fa-solid fa-robot"></i>
                <a asp-area="" asp-controller="Admin" asp-action="SlotMachines">Slot Machines</a>
            </div>
            <div>
                <i class="fa-solid fa-clover"></i>
                <a asp-area="" asp-controller="Admin" asp-action="SlotSymbols">Slot Symbols</a>
            </div>

            <h3>Legal</h3>
            <div>
                <i class="fa-solid fa-key"></i>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
            </div>
        </div>
    </div>

    <!-- Horizontal Nav -->
    <partial name="_LoginPartial" />

    <main>
        @RenderBody()
    </main>

    <!-- We have no footer -->

    <script src="~/js/base.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/9b2333d2b6.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
