@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/css/home-privacy.css" asp-append-version="true" />

<div>
    <h2>Privacy Policy</h2>
    <p>
        We may collect personal identification information from Users in various ways,
        including but not limited to when Users visit the website, register on the
        website, fill out a form, and in connection with other activities, services,
        features, or resources we make available on PlayRiggedGames. The personal information
        we collect may include the User's first name, last name, email address, and date of
        birth. We do not sell, trade, or rent Users' personal identification information to
        others.

        <br> <br>

        We have the discretion to update this Privacy Policy at any time. We encourage Users to
        frequently check this page for any changes to stay informed about how we are helping
        to protect the personal information we collect. Users acknowledge and agree that it
        is their responsibility to review this Privacy Policy periodically and become aware
        of modifications.

        <br> <br>

        By using the Application, Users signify their acceptance of this policy. If a User
        does not agree with this policy, they should refrain from using the Application.
        Continued use of the Application following the posting of changes to this policy will
        be deemed as acceptance of those changes.

        <br> <br>

        Please note that once a user creates an account on PlayRiggedGames, they will
        not have the option to delete their account.
    </p>
</div>